<form>
  <!--INPUT-->
  <div>
    <mat-form-field>
      <span matPrefix>admin.</span>
      <input
        ngModel
        #username="ngModel"
        name="username"
        type="text"
        matInput
        required
        placeholder="Username">
      <mat-hint>Type a unique username</mat-hint>
      <span matSuffix>@domain.com</span>
      <mat-error *ngIf="username.invalid && username.errors['required']">
        The username field is required.
      </mat-error>
    </mat-form-field>
  </div>
  <!--TEXTAREA-->
  <div>
    <mat-form-field>
      <textarea matTextareaAutosize matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </div>

  <!--DATE PICKER-->
  <div>
    <mat-form-field>
      <input
        (focus)="picker.open()"
        [min]="minDate"
        [max]="maxDate"
        matInput
        [matDatepicker]="picker"
        placeholder="Select your birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
